# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Environment variables
.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.tox/
.nox/
*.cover
*.log
*.tmp
.pytest_cache/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Deployment
*.pid
*.seed
*.pid.lock

# Mac / Linux / Windows OS files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Local configs
railway.json
